.container{
  padding: 1%;
  align-items: center;
  display: block;
}
.login-segment {
  width: 90%;
  height: auto;
  padding: 10px 23px 30px 24px;
  padding: 2%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  margin : 1%;
}
.login-segment button{
  color:#fff;
}

.login-segment button{
margin-left: auto;
margin-right:auto;
display: block;
width: 90%;
height: 50px;
color:#fff;
border-radius: 12px;
margin-bottom: 4%;
box-shadow: 0 4px 16px 0 rgba(158, 158, 158, 0.25);
background-image: linear-gradient(to top, #012169d1, #5489ff);
}
.login-segment input ,
.login-segment button{
  width: 90%;
  height: 50px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 5%;
  border-radius: 6px;
  border: solid 1px #f1f1f1;
  background-color: #fafafa;
  padding-left: 2%;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #777777;
}

.page-title{
  margin-left: auto;
  margin-right:auto;
  padding-bottom: 7%;
  font-family:'Nunito Sans', sans-serif;
  font-size: 42px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing:normal;
  color: #2f2f2f;
}
.link-text {
  margin-left: auto;
  margin-right:auto;
  font-family:'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2f2f2f;
  cursor: pointer;
  flex-grow: 1;
}
.link-text:hover{
  color:  #7db6e7;
}
button.btn.btn-primary.mt-3 {
  color: #fff;
}
img.logo {
  width: 30%;
  display: block;
  align-items: center;
  margin: auto;
  padding: 3%;
  opacity: 0.7;
}
.text-style-1{
  width: 100%;
  color:  #7db6e7;
  flex-grow: 1;
  margin-left: auto;
  margin-right:auto;
  font-family:'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;

}
.sign-up-segment{
  display:block;
  width: 90%;
  height: 60px;
  margin-left: auto;
  margin-right:auto;
  text-align: center;
  margin-bottom: 2%;
  font-family:'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

}
.sign-up-segment a{
  cursor: pointer;
}
.sign-up-segment a:hover, .link-text, a{
  text-decoration: none;
}

.text{
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  font-family:'Nunito Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #2f2f2f;
  text-align: left;
}
@media (min-width: 576px) {
  .login-segment{
    width: 70%;
    margin-left: auto;
    margin-right:auto;
  }

}
@media (min-width: 992px) {
  .login-segment{
    width: 50%;
    margin-left: auto;
    margin-right:auto;
  }
  .sign-up-segment{
    display: flex;
  }
 }
 @media (min-width: 1200px) {
  .login-segment{
    width: 40%;
    margin-left: auto;
    margin-right:auto;
  }
 }

