<div class="container">
  <div class="segment">
    <div class="register-img">
      <img class="logo" src="https://www.flaticon.es/svg/static/icons/svg/2506/2506463.svg" alt="logo Bitcoin" />
      <h1 class="page-title">Completá tus datos</h1>
    </div>

    <form id="register-form" class="form">

      <input type="text" [(ngModel)]="selectedUsuario.nombre" name="Nombre" placeholder="Nombre" class="form-control"
        required>

      <input type="text" [(ngModel)]="selectedUsuario.apellido" name="Apellido" placeholder="Apellido"
        class="form-control" required>

      <input type="text" [(ngModel)]="selectedUsuario.dni" name="Dni" placeholder="Nº DNI" maxlength="8"
        class="form-control" pattern="[0-9]" required>

      <div class="form-group">
        <label for="frente-dni">Selecciona el género con le que te identificas</label>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="selectedUsuario.genero" name="gender" id="female" value="female" />
          <label class="form-check-label" for="female">
            Femenino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="selectedUsuario.genero" name="gender" id="male" value="male">
          <label class="form-check-label" for="male">
            Masculino
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" [(ngModel)]="selectedUsuario.genero" name="gender" id="others" value="others">
          <label class="form-check-label" for="others">
            Otros
          </label>
        </div>
      </div>

      <input type="date" [(ngModel)]="selectedUsuario.fechaNacimiento" name="fechaNacimiento"
        placeholder="Fecha de Nacimiento" class="form-control" required>

      <input type="text" [(ngModel)]="selectedUsuario.cuil_cuit" name="Cuil_Cuit" placeholder="Cuil-Cuit" maxlength="11"
        class="form-control" required>

      <input type="text" [(ngModel)]="selectedUsuario.calle" name="calle" placeholder="Calle" class="form-control"
        required>

      <input type="text" [(ngModel)]="selectedUsuario.numero_de_calle" name="numero_de_calle"
        placeholder="Numero de Calle" class="form-control" required>

      <input type="text" [(ngModel)]="selectedUsuario.barrio" name="barrio" placeholder="Barrio" class="form-control"
        required>

      <input type="text" [(ngModel)]="selectedUsuario.codigo_postal" name="codigo_postal" placeholder="Codigo Postal"
        class="form-control" required>

      <input type="text" [(ngModel)]="selectedUsuario.ciudad" name="ciudad" placeholder="Ciudad" class="form-control"
        required>

      <button class="btn btn-primary mt-3" (click)="onSubmit(selectedUsuario)">Enviar</button>

    </form>

  </div>
</div>