@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');
:host {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* Billetera Virtual Style */

.container {
    padding: 3%;
    align-items: center;
    display: block;
}

h1.page-title {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
    font-size: 42px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2f2f2f;
}

.text-form {
    text-align: left;
    margin: 3rem 0rem 2rem 0rem;
    padding-left: 2rem;
}

input.form-group {
    display: block;
    width: 100%;
}

.text {
    display: inline;
    padding-right: 0.5rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #2f2f2f;
    /* padding-right: 2%; */
}

img.logo {
    width: 30%;
    display: none;
    align-items: center;
    margin: auto;
    padding: 3%;
    opacity: 0.7;
}

.actions {
    width: 90%;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: left;
}

.segment {
    width: 90%;
    height: auto;
    padding: 10px 23px 30px 24px;
    padding: 2%;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin: 1%;
    display: block;
}

button.btn.btn-primary.mt-3 {
    color: #fff;
}

.segment button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: 50px;
    color: #fff;
    border-radius: 12px;
    margin-bottom: 4%;
    box-shadow: 0 4px 16px 0 rgba(158, 158, 158, 0.25);
    background-image: linear-gradient(to top, #012169d1, #5489ff);
}

.segment input,
.segment button {
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    border-radius: 6px;
    border: solid 1px #f1f1f1;
    background-color: #fafafa;
    padding-left: 2%;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #777777;
}

.link-text {
    display: inline;
    width: 100%;
    color: #7db6e7;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    /* text-align: left; */
}

.segment {
    display: block;
    width: 100%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 2%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.segment a {
    cursor: pointer;
}

.segment a:hover,
.link-text,
a {
    text-decoration: none;
}

.logoBilleteraVirtual {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    text-align: center;
}

.form {
    width: 100%;
}

.register-img,
.form {
    padding: 3%;
    align-items: center;
    flex-grow: 1;
    margin: 3%;
}

#register-form {
    width: 100%;
}

.form-myaccount {
    width: 100%;
    display: flex;
}

.alert-danger {
    color: #e23141;
    background-color: #fff;
    border-color: #f5c6cb;
    width: 90%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
}

.segment-myaccount {
    width: 50%;
    display: block;
    margin: 2%;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {
    .segment {
        display: flex;
    }
    .form {
        width: 70%;
    }
    .logoBilleteraVirtual {
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 992px) {
    img.logo {
        display: block;
    }
    .actions {
        text-align: left;
    }
}

@media (min-width: 1200px) {}