<div class="container-fluid">
  <h1>Aqui no va el login</h1>
  <button class="btn btn-info mt-3"  (click)="nuevoUsuario()">Nuevo Usuario</button>
  <!-- <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Apellido</th>
        <th scope="col">Nombre</th>
        <th>Gestion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios;"
          (click)="onSelect(usuario)">
              <td>{{usuario.Id}}</td>
              <td>{{usuario.Apellido}}</td>
              <td>{{usuario.Nombre}}</td>
              <td><button (click)="onDelete(usuario.Id)" class="btn btn-danger">Eliminar</button>
          </tr>
    </tbody>

  </table> -->
</div>

