<div class="container">
    <div class="segment">
        <div class="register-img">
            <img class="logo" src="https://www.flaticon.es/svg/static/icons/svg/2506/2506463.svg"
                alt="Billetera virtual" />
            <h1 class="page-title">Seleccione la operacion a realizar</h1>
        </div>

        <form class="form">

            <form [formGroup]="form" (ngSubmit)="onSubmit()" id="transfer-form" class="form" #formulario="ngForm">
            
            <button class="btn btn-primary mt-3 mb-3" [routerLink]="[ '/transfermoney']" > Transferencia</button>
        
            <button class="btn btn-primary mt-3 mb-3" > Pagar </button>
            
            </form>
        </form>
    </div>
</div>