<div class="container">
    <div class="segment">
        <div class="register-img">
            <img class="logo" src="https://www.flaticon.es/svg/static/icons/svg/2506/2506463.svg"
                alt="Billetera virtual" />
            <h1 class="page-title">Seleccione la operacion a realizar</h1>
        </div>

        <form class="form">

            <button class="btn btn-primary mt-3 mb-3" > Transferencia</button>
            
            <button class="btn btn-primary mt-3 mb-3" > Pagar </button>
        </form>
    </div>
</div>