<div class="container">
  <div class="segment">
    <div class="register-img">
      <h1 class="page-title">Ingrese datos requeridos</h1>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit(aux)" id="transfer-form" class="form" #formulario="ngForm">

      <select class="form-control">
        <option [ngValue]="operacion.value" *ngFor="let operacion of operaciones" class="form-control"> {{operacion}}
        </option>
      </select>

      <input formControlName="cvu" id="cvu" [(ngModel)]="aux.cvu" class="form-control" placeholder="CVU Destino" ngModel
        required>

      <input formControlName="monto" id="monto" [(ngModel)]="aux.monto" (change)="onChange()" class="form-control"
        placeholder="Monto" ngModel required>


      <input formControlName="descripcion" id="descripcion" [(ngModel)]="aux.descripcion" class="form-control"
        placeholder="Descripcion" ngModel required>


      <button class="btn btn-primary mt-3 mb-3" type="submit" [disabled]="!form.valid">
        Transferir
      </button>

    </form>
  </div>
</div>