<div class="container">
    <div class="segment">
        <div class="register-img">
            <img class="logo" src="https://www.flaticon.es/svg/static/icons/svg/2506/2506463.svg" alt="logo Bitcoin" />
            <h1 class="page-title">Recuperar Contraseña</h1>
        </div>
        
  
        <form [formGroup]="form" (ngSubmit)="onSubmit(selectedLogin)" id="login-form" class="form"  #formulario="ngForm">
            <p class="text" style="margin-bottom: 20px;" >Escribe la respuesta a tu pregunta secreta</p>
            <input style="margin-top: 20px;"  formControlName="secretanswer" id="answer"  [(ngModel)]="selectedLogin.preguntasecreta" class="form-control" placeholder="Respuesta" ngModel  required>
            <button class="btn btn-primary mt-3 mb-3 " [disabled]="!form.valid">Recuperar Contraseña</button>
        </form>
    </div>
</div>