<div class="container">
    <div class="segment">
        <div class="register-img">
            <img class="logo" src="https://www.flaticon.es/svg/static/icons/svg/2506/2506463.svg" alt="logo Bitcoin" />
            <h1 class="page-title">¿Olvidaste tu Contraseña?</h1>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(selectedLogin)" id="resetpassword-form" class="form">
            <p class="text-form ">Ingresá el email asociado a tu cuenta</p>
            <input formControlName="email" id="email" type="email" [(ngModel)]="selectedLogin.email"
                class="form-control" placeholder="Email" ngModel email="true" required>
            <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                <div *ngIf="f.email.errors.required" class="error">El Email es requerido</div>
                <div *ngIf="f.email.invalid" class="error">Debe tener formato de Email</div>
            </div>
            <button class="btn btn-primary mt-3 mb-3" type="submit" [disabled]="!form.valid">Recuperar
                Contraseña</button>
        </form>
    </div>
</div>