

<div class="container">
  <div class="segment">
    <div class="register-img">
   <img class="logo"  src="https://www.flaticon.es/svg/static/icons/svg/2506/2506463.svg" alt="logo Bitcoin"/>
    <h1 class="page-title">¿Olvidaste tu Contraseña?</h1>
    </div>
    <form id="login-form" class="form" (submit)="submit(email)">
       <p class="text-form ">Ingresá el email asociado a tu cuenta</p>
     <input type="email" placeholder="Email"  #email required/>
      <button class="btn btn-primary mt-3 mb-3 ">Recuperar Contraseña</button>
      <!--button class="btn btn-primary mt-3 mb-3 " href="/secretanswer">Recuperar Contraseña</button-->
    </form>
  </div>
</div>
