

<div class="container">
  <div class="reset-segment">

   <img class="logo" src="https://www.flaticon.es/svg/static/icons/svg/1272/1272081.svg" alt="logo Bitcoin"/>
    <h1 class="page-title">¿Olvidaste tu Contraseña?</h1>


    <form id="login-form" class="form" (submit)="submit(email)">
       <p class="text">Ingresá el email asociado a tu cuenta</p>
     <input type="email" placeholder="Email"  #email/>
      <button class="btn btn-primary mt-3 ">Recuperar Contraseña</button>
    </form >
  </div>
</div>
