


.singup{
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}



#register{
  width: 100%;
  display: flex;
  /* align-items: center; */


}

.form button{
  margin-left: auto;
  margin-right:auto;
display: block;
width: 327px;
height: 60px;
/* margin: 15px 1px 26px 0;
padding: 19px 133px 19px 132px; */
border-radius: 12px;
margin-bottom: 2%;
box-shadow: 0 4px 16px 0 rgba(158, 158, 158, 0.25);
background-image: linear-gradient(to top, #012169, #5489ff);
}
.form input{
  display: block;
  width: 327px;
  height: 60px;
  margin-left: auto;
  margin-right:auto;
  margin-bottom: 2%;
  border-radius: 8px;
  border: solid 1px #f1f1f1;
  background-color: #fafafa;
}
h1, p{
  /* margin-left: auto;
  margin-right:auto; */
  display: block;
  text-align: center;

}
#name{
  color:red;
}
