<div class="container">
    <div class="segment">
        <div class="register-img">
            <!-- <img class="logo" src="https://github.com/pgClipfs/proyecto-clip-money-b-g1b/blob/Develop-3sprint2/billeterafront/src/assets/images/logobitcoin.png?raw=true"
                alt="Billetera virtual" /> -->
            <h1 class="page-title">Crea tu cuenta!</h1>
        </div>
        <form [formGroup]="form" (ngSubmit)="onSubmit(selectedUsuario)" id="register-form" class="form">
            <div class="form-group ">
                <input formControlName="email" id="email" type="email" [(ngModel)]="selectedUsuario.email"
                    class="form-control" placeholder="Email" ngModel email="true" required>
                <div *ngIf="f.email.touched && f.email.invalid" class="alert alert-danger">
                    <div *ngIf="f.email.errors.required" class="error">Email is required.</div>
                    <div *ngIf="f.email.invalid" class="error">Format email is required.</div>
                </div>
            </div>
            <div class="form-group ">
                <input formControlName="password" id="password" type="password" [(ngModel)]="selectedUsuario.password"
                    class="form-control" placeholder="Password">
                <div *ngIf="f.password.touched && f.password.invalid" class="alert alert-danger">
                    <div *ngIf="f.password.errors.required" class="error">Password is required.</div>
                </div>
            </div>

            <div class="form-group ">
                <input formControlName="confirm_password" id="confirm_password" type="password"
                    [(ngModel)]="selectedUsuario.confirm_password" class="form-control" placeholder="Repetir password">
                <div *ngIf="f.confirm_password.touched && f.confirm_password.invalid" class="alert alert-danger">
                    <div *ngIf="f.confirm_password.errors.required" class="error">Password is required.</div>
                    <div *ngIf="f.confirm_password.errors.confirmedValidator" class="error">Password and Confirm
                        Password must be match.</div>
                </div>
            </div>

            <button class="btn btn-primary mt-3 mb-3 " type="submit" [disabled]="!form.valid">Crear Cuenta</button>
            <p class="text">¿Ya tienes una?</p><a href="/ingresar" class="link-text">Ingresar</a>
        </form>
    </div>
</div>