<div class="container">
  <div class="register-segment">
    <div class="register-img">
      <img class="logo" id="logoBilletera" src="https://www.flaticon.es/svg/static/icons/svg/2506/2506463.svg"
        alt="noseve" />
      <h1 class="page-title">Crea tu cuenta!</h1>
    </div>
    <form id="register-form" class="form">

      <input type="email" [(ngModel)]="selectedUsuario.email" name="Email" placeholder="Email" class="form-control" required>

      <input type="password" [(ngModel)]="selectedUsuario.password"  name="Password" placeholder="Contraseña" class="form-control" required>

      <!--<input type="password" [(ngModel)]="selectedUsuario.Password"  name="Password" placeholder="Repite la contraseña" class="form-control" required>-->

      <button class="btn btn-primary mt-3" (click)="onSubmit(selectedUsuario)">Crear cuenta</button>

      <div class="login-segment">
        <p class="text">¿Ya tienes una?</p><a href="/ingresar" class="text-style-1">Ingresar</a>
      </div>
    </form>
  </div>
</div>