<div class="container-fluid">
    <div class="row">
        <div class="col-2 px-1 bg-light position-fixed pt-5 text" id="sticky-sidebar">
            <div class="nav flex-column flex-nowrap vh-100 overflow-auto text-white p-2 mt-5">
                <a href="./" class="nav-link text-dark">Cuenta</a>
                <a href="./transaccion" class="nav-link text-dark">Transferencia</a>
                <a href="./" class="nav-link text-dark">Pagos</a>
                <a href="./" class="nav-link text-dark">Tarjetas</a>
                <a href="./" class="nav-link text-dark">Dólares</a>
                <a href="./" class="nav-link text-dark">Bitcoin</a>
                <a href="./micuenta" class="nav-link text-dark">Mis Datos</a>
            </div>
        </div>
<div class="col-7 offset-2 mt-5 pt-5" id="main">
<div class="cuenta">
   <h3 class="title-home">Cuenta</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col p-2">CBU</th>
                <th scope="col p-2">Alias</th>
                <th scope="col p-2 ">Saldo diponible</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td >{{billeteraModelsModule.Cvu}}</td>
                <td >{{billeteraModelsModule.Alias}}</td>
                <td >{{billeteraModelsModule.Saldo}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="mis-movimientos">
    <h3 class="title-home pt-3">Últimos movimientos</h3>
     <table class="table">
         <thead>
             <tr>
                 <th scope="col p-2">Mi billetera</th>
                 <th scope="col p-2">Destino</th>
                 <th scope="col p-2">Tipo de Operación</th>
                 <th scope="col p-2">Descripción</th>
                 <th scope="col p-2">Monto</th>
                 
             </tr>
         </thead>
         <tbody  *ngFor="let transaccion of trasaccionModelModulo" >
             <tr>
                 <td>{{transaccion.NombreBilletera}}</td>
                 <td>{{transaccion.NombreBilleteraDestino}}</td>
                <td>{{transaccion.Operacion}}</td>
                <td>{{transaccion.Descripcion}}</td>
                 <td>{{transaccion.Monto}}</td> 
             </tr>
            <!--  <tr>*ngFor="let transaccion of trasaccionModelModulo"
                 <td>10/10/2020</td>
                 <td>16:30</td>
                 <td>Depósito</td>
                 <td>$5000</td>
             </tr>
             <tr>
                 <td>10/10/2020</td>
                 <td>20:05</td>
                 <td>Depósito</td>
                 <td>$7000</td>
             </tr> -->
         </tbody>
     </table>
 </div>
</div> 