

<nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="/"><img class="logo" id="navbarlogo" src="https://www.flaticon.es/svg/static/icons/svg/2506/2506463.svg" alt="logo Bitcoin"
    width="50" height="50" class="d-inline-block align-top" alt="" loading="lazy"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/ingresar">Ingresar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/registrarse">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/micuenta">Mi cuenta</a>
      </li>

    </ul>
  </div>
</nav>
